
@using (Html.BeginForm("Arama", "Home", FormMethod.Post,new { enctype = "multipart/form-data" }))
{   <div class="navbar-form navbar-left">
        <input type="text" name="Ara"  class="form-control" >    
        <button type="submit" name="Ara" value="Ara" class="btn btn-default">Ara</button>
    </div>

}
