
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Toplam Üye Sayısı: @ViewBag.UyeSayisi</h1>
<h1>Toplam İlan Sayısı: @ViewBag.IlanSayisi</h1>
<h1>Toplam Kategori Sayısı: @ViewBag.KategoriSayisi</h1>
