@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>

<address>
    Sakarya Üniversitesi<br />
    Bilişim Sistemleri Mühendisliği<br />
    <abbr title="Telefon">P:</abbr>
    0546 935 80 66
</address>

<address>
    <strong>Destek:</strong>   <a href="mailto:mevlutcan@outlook.com">mevlutcan@outlook.com</a><br />
</address>